@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

:root {
    --color-black: #000;
    --color-black2: #353535;
    --color-black3: #1C1A19;
    --color-gray: #EFEFEF;
    --color-gray2: #EAE9E5;
    --color-white: #FFF;
    --yellow-button: #FAA500;
    --color-yellow: #DEAC71;
    --color-red: #D37164;
    --color-red2: #D84E4B;
    --color-blue: #6497D3;
    --color-darkblue: #3C3B79;
    --color-beige: #CFC9B0;
}

.normalButton {
    background-color: var(--yellow-button);
    height: 100%;
    border: 0;
    border-radius: 4px;
    color: var(--color-white);
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mwPage {
    width: 88vw !important;
    max-width: 1563px;
    margin: 0 auto;
    width: 100%;
}

.mb80 {
    margin-bottom: 80px;
}