@import url(../../styles/variables.css);

.SliderShelf-container{
  display: flex !important;
  width: 95% !important;
  flex-direction: column !important;
  align-items: center !important;
}

.colorsShelfSlider{
  display: flex;
  flex-direction: row;
  width: 120px;
  height: 28px;
  margin-bottom:6px;
}
.colorsdiv{
  width: 27px;
  height: 27px;
  border-radius: 5px;
  margin-left: 3px;
}

.complementShelfSlider{
  width: 80% !important;
  height: 208px;
  margin-top: 10px;
  position: relative;
}
.normalButtonShelf{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--yellow-button);
  height: 35px;
  border: 0;
  border-radius: 4px;
  color: var(--color-white);
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: ease-in 0.3s;
}
.normalButtonShelf:hover{
  background-color: rgb(255, 187, 0);
}
.shelfPrice{
  margin-top: 0;
  font-size: 20px;
  font-family: Titillium Web;
  font-weight: 700;
  height: 14px;
  color:#353535
}
.FaeatureH3Shelf{
  font-size: 16px;
  font-family: Titillium Web;
  font-weight: 600;
  height: 14px;
  margin-bottom: 8px;
}
.FaeatureParagraphShelf{  
  font-size: 12px;
  font-family: Titillium Web;
  font-weight: 400;
}

/* color background */

.beige-color{
  background-color:#DEAC71;
}
.beige-color:hover{
  background-color: rgb(197, 145, 48);
  }

.pink-color{
  background-color:#D37164;
}
.pink-color:hover{
  background-color: #b15f55;
  }
.lblue-color{
  background-color: #6497D3;;
}
.lblue-color:hover{
  background-color: #517fb3
  }
.blue-color{
  background-color: #3C3B79;;
}
.blue-color:hover{
  background-color: #2c2c58;
  }



  .black-color{
    background-color:#1C1A19;
  }
  .black-color:hover{
    background-color: #000000;
    }
  
  .pinkdark-color{
    background-color:#D84E4B
  }
  .pinkdark-color:hover{
    background-color: #c04745
    }
  .sand-color{
    background-color: #CFC9B0
  }
  .sand-color:hover{
    background-color: #a09b89
    }
  .white-color{
    background-color: #EAE9E5
  }
  .white-color:hover{
    background-color: #cfcfcd
    }


.imgShelSlider{
  width: 16.7vw;
  height: auto;
}
    @media screen and (max-width: 1025px) {

    
  }