@import url(../../styles/variables.css);

.logoss-maeztra-title{
    display: flex;
    width: 100%;
    justify-content: center;
}
.logoss-maeztra-title h2{
      display: flex;
      width: 80vw;
      max-width: 1562px;
      align-items: center;
      justify-content: center;
      font-family:'Titillium Web', sans-serif;
      font-size: 16px;
      font-weight: 700;
    }

    .iconslogossSlider{
      width: 32px !important;
      height: 32px !important;
      padding-right:30px;
    }

    .logos{
      display: flex !important;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      max-width: 308px;
      max-height: 64px;
      background-color: #EFEFEF;
      border-radius: 4px;
      transition: ease-in 0.3s;
    }
    .logos:hover{
      display: flex !important;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      max-width: 309px;
      max-height: 65px;
      background-color: #d4d4d4;
      border-radius: 4px;
    }
    .logoss-maeztra-container{
      display: flex;
      width: 100vw;
      justify-content: center;
    }

    .logoss-maeztra-container .slick-initialized{
      width: 88vw;
    }
    .FaeatureH3{
      font-size: 14px;
      margin-bottom: 4px;
      font-weight: 700;
    }
    .FaeatureParagraph{
      margin-top: 0;
      font-size: 12px;
    }
    .logoss-mobile-container{
      display: none;
    }

    @media screen and (max-width: 1025px) {
    .logoss-maeztra-container{
        display: none;
      }
    .logoss-mobile-container{
      display: block;
    }
    .logos{
      display: flex !important;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      max-width: 308px;
      min-width: 88vw;
      max-height: 64px;
      background-color: #EFEFEF;
      border-radius: 4px;
    }
    .containerFeatMob{
      display: flex !important;
      width: 100% !important;
      justify-content: center;
    }
  }