.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.modal-overlay.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.modal-overlay.hide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.modal-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  height: 539px;
  justify-items: center;
  align-content: space-evenly;
}

.modal-wrapper {
  width: 848px;
  height: 539px;
  background-color: white;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.modal-wrapper.hide {
  opacity: 0;
}

.modal-content .close {
  position: absolute;
  top: -49px;
  right: 12px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  line-height: 30px;
  cursor: pointer;
}

.banner-modal {
  height: 540px !important;
}

.modal-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 322px !important;
}

.modal-title {
  text-align: center;
  font-size: 12px;
  font-family: Titillium Web;
  line-height: 20px;
  text-transform: uppercase;
  color: #464B54;
  font-weight: 400;
}
.modal-text{
    height: 48px;
    margin-top: 12px;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-text-p{

  color:#787D83;
  text-align: center;
  font-size: 20px;
  font-family: Titillium Web;
  line-height: 23px;
}
.modal-text-span{
  color:#787D83;
  text-align: center;
  font-size: 20px;
  font-family: Titillium Web;
  line-height: 23px;
  font-weight: 700;
}
.modal-form-input{
  width: 100% !important;
  height: auto;
  width: 322px;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  background:  #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  }
  .modal-search{
    width: 100% !important;
    height: auto;
    width: 322px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
  }

  .modal-form-input::placeholder{
    width: auto;
    font-size: 12px;
    font-family: Titillium Web;
    line-height: 20px;
    padding-left: 13px;
    color: #787D83;
  }

  @media screen and (max-width: 768px) {
    .modal-wrapper{
      display: flex;
      max-width: 90vw;
      flex-direction: column;
      justify-content: center;
      max-height: 307px;
    }
    .modal-content {
      display: flex;
      max-width: 90vw;
      flex-direction: column;
      justify-content: center;
    }
    .banner-modal{
      display: none;
    }
  }